# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Build directories
build/
*.o

# Compiled binary files
snippy
test_snippy

# Debugger files
*.dSYM/
*.core

# Logs and temporary files
*.log
*.tmp

# Editor/IDE specific files
.vscode/
.idea/
*.swp
*~

